$themes: (light: (primary-background-color: white,
        primary-background-color-less-intense: #eee,
        primary-border-color: #ddd,
        primary-box-shadow-color: rgba(0, 0, 0, 0.5),
        primary-color: #333,
        primary-color-less-intense: #666,
        primary-color-more-intense: black,
        secondary-color: #2cb810,
        secondary-color-less-intense: #0d8a3d,
        logo-filter: invert(0%) sepia(0%) saturate(7489%) hue-rotate(302deg) brightness(96%) contrast(102%), //https://codepen.io/sosuke/pen/Pjoqqp
        logo-filter-hover: invert(51%) sepia(32%) saturate(4500%) hue-rotate(77deg) brightness(84%) contrast(87%),
        theme-switch-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(92deg) brightness(200%) contrast(54%)),
    dark: (primary-background-color: #333,
        primary-background-color-less-intense: #444,
        primary-border-color: #666,
        primary-box-shadow-color: rgba(0, 0, 0, 0.75),
        primary-color: #ccc,
        primary-color-less-intense: #999,
        primary-color-more-intense: white,
        secondary-color: #ef7247,
        secondary-color-less-intense: #f29475,
        logo-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(92deg) brightness(100%) contrast(104%),
        logo-filter-hover: invert(51%) sepia(51%) saturate(600%) hue-rotate(329deg) brightness(97%) contrast(92%),
        theme-switch-filter: invert(0%) sepia(0%) saturate(7489%) hue-rotate(302deg) brightness(96%) contrast(102%)));

@function themed($key) {
    @return map-get($theme-map, $key);
}

@mixin themify($themes: $themes) {

    @each $theme,
    $map in $themes {
        $theme-map: () !global;

        @each $key,
        $submap in $map {
            $value: map-get(map-get($themes, $theme), '#{$key}');
            $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }

        $selector: '.theme-#{$theme}';

        @at-root #{&} #{$selector} {
            @content;
        }

        $theme-map: null !global;
    }
}

#root {
    .warn {
        color: darkorange !important;
    }
    .err {
        color: crimson !important;
    }
    .img-formula {
        background-color: white;
        padding: 8px;
    }
    .language-yml .hljs-bullet {
        background: initial;
    }

    @include themify($themes) {
        background-color: themed('primary-background-color');
        transition: background-color $theme-transition-delay $theme-transition-timing-function;

        .transition-group .container,
        .transition-group .page {
            background-color: themed('primary-background-color');
            transition: background-color $theme-transition-delay $theme-transition-timing-function;

            .post-logo img,
            img.logo {
                filter: themed('logo-filter');
                transition: filter $theme-transition-delay $theme-transition-timing-function !important;
            }

            a:hover.post-logo img,
            a:hover img.logo {
                filter: themed('logo-filter-hover');
                transition: filter $theme-transition-short-delay $theme-transition-short-timing-function !important;
            }
    
            .theme-switcher img {
                filter: themed('theme-switch-filter');
                transition: filter $theme-transition-delay $theme-transition-timing-function !important;
            }
    
    
    
            code {
                background-color: themed('primary-background-color-less-intense');
                box-shadow: 0 0 1px 2px themed('primary-background-color');
            }
    
            a,
            button.link {
                color: themed('secondary-color');
                transition: color $theme-transition-delay $theme-transition-timing-function;
            }
    
            a:hover,
            button.link:hover {
                color: themed('secondary-color-less-intense');
                transition: color $theme-transition-short-delay $theme-transition-short-timing-function;
            }
    
            .header-container {
                *:not(button):not(input):not(a) {
                    color: themed('primary-color-more-intense');
                    transition: color $theme-transition-delay $theme-transition-timing-function;
                }
            }
    
            .title {
                color: themed('primary-color-more-intense');
                transition: color $theme-transition-delay $theme-transition-timing-function;
            }
    
            .langs {
                .lang {
                    a[data-disabled=true] {
                        color: themed('primary-color-less-intense');
                        transition: color $theme-transition-delay $theme-transition-timing-function;
                    }
                }
            }
    
            .date-col {
                color: themed('primary-color-less-intense');
                transition: color $theme-transition-delay $theme-transition-timing-function;
            }
    
            .content {
                img {
                    border-width: 1px;
                    border-style: outset;
                    border-color: themed('primary-border-color');
                    -webkit-box-shadow: 10px 10px 5px 0px themed('primary-box-shadow-color');
                    -moz-box-shadow: 10px 10px 5px 0px themed('primary-box-shadow-color');
                    box-shadow: 4px 4px 5px 0px themed('primary-box-shadow-color');
                }
    
                blockquote {
                    border-color: themed('secondary-color');
    
                    *:not(a) {
                        color: themed('primary-color-less-intense') !important;
                    }
                }

                table:not(.more){
                    .th,
                    th {
                        background-color: themed('primary-color');
                        color: themed('primary-background-color');
                        font-weight: bold;
                    }

                    .th,
                    td, 
                    th {
                        border-color: themed('primary-color-less-intense');
                    }

                    thead {
                        th:not(:first-child) {
                            border-left-color: themed('primary-background-color');
                        }

                        th:not(:last-child) {
                            border-right-color: themed('primary-background-color');
                        }

                        th.corner-header {
                            border-bottom-color: themed('primary-background-color');
                        }
                    }

                    tbody {
                        .th {
                            border-top-color: themed('primary-background-color');
                        }

                        tr:not(:last-child) .th {
                            border-bottom-color: themed('primary-background-color');
                        }
                    }
                }
            }
    
            .updated,
            .author,
            .meta .item {
                color: themed('primary-color-less-intense');
                transition: color $theme-transition-delay $theme-transition-timing-function;
            }
    
            .meta .item *:not(a) {
                color: themed('primary-color-less-intense');
                transition: color $theme-transition-delay $theme-transition-timing-function;
            }
        }

        *:not(button):not(input):not(a):not(code):not(pre):not([class^="hljs-"]) {
            color: themed('primary-color');
            transition: color $theme-transition-delay $theme-transition-timing-function;
        }
        
    }
}

.theme-dark {

    .hljs-comment,
    .hljs-quote,
    .hljs-deletion,
    .hljs-meta {
        color: #ffc66d;
    }
}