.index-container {
    height: 100%;
}

.category:first-of-type {
    padding-left: 0;
    padding-right: 10px;
}
.category:last-of-type {
    padding-left: 10px;
    padding-right: 0;
}

.category {
    font-family: $header-font-family;
    padding: 4px 10px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 640px) and (max-width: 840px), (max-width: 600px) {
    .categories {
        justify-content: center;
        .category {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}

hr {
    border: 0;
    height: 1px;
    background: gray;
    opacity: .15;
}

hr:first-of-type {
    margin-bottom: 4px;
}

hr:last-of-type {
    margin-top: 4px;
}