.post-container {
    .content > figure {
        margin: 0;
    }
    
    .page {
        max-width: 1050px;
        margin: 0 auto 0 auto;

        @media screen and (max-width: 1400px) {
            .tag-cloud {
                display: none;
            }
        }

        .header {
            text-align: center;

            .title {
                margin-bottom: 0.75rem;
            }

            .meta {
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                margin-bottom: 0.5rem;

                .item:not(:first-child):before {
                    content: '\00B7';
                    padding: 0 0.5em;
                }

                time:nth-of-type(2) {
                    text-decoration: line-through;
                }

                .profile {
                    display: flex;
                    align-items: center;

                    img {
                        height: 36px;
                        border-radius: 50%;
                        margin: 0 5px;
                    }
                }
            }

            .tags {
                margin-bottom: 0.5rem;

                .item:not(:first-child):before {
                    content: ',';
                    padding-right: 0.5em;
                }
            }
        }

        @media (min-width: 1050px) {
            #comments {
                padding-right: 60px;
            }
        }

        .content {
            line-height: 1.55em;
            text-align: justify;

            p > code {
                border-radius: 4px;
            }

            pre, code, pre *, code * {
                font-family: Consolas, "Liberation Mono", Courier, monospace;
            }

            pre {
                display: flex;
                white-space: pre-wrap;
                word-break: break-word;
                code {
                    width: 100%;
                }
            }

            code {
                display: inline;
                word-break: break-all;
                padding: 0.10em 0.2em;
            }

            blockquote {
                border-left: .25em solid;
                padding: 0 1em;
                margin-left: 0px;
                text-align: initial;
            }

            p+ul {
                margin-top: -0.75em;
            }

            ul {
                margin-top: 0;

                li {
                    line-height: 1.6em;
                }
            }

            ol {
                ul {
                    margin-top: initial;
                }
            }

            table:not(.more) {
                border-collapse: collapse;
                
                li * {vertical-align:top}

                td,
                th {
                    border-width: 1px;
                    border-style: solid;
                    padding:10px;
                }
            }

            @media (min-width: 1200px) {

                table:not(.more) {
                    margin: 0 75px;
                }

                >:not(img):not(table):not(figure) {
                    margin-left: 75px;
                    margin-right: 75px;
                }

                li {
                    margin-left: 25px;
                }

                .more td {
                    padding-left: 75px;
                    padding-right: 75px;
                }
            }

            table.rwd * {
                text-align: left
            }
            @media screen and (max-width: 400px) {
                pre, code {
                    word-break: break-all;
                }
            }

            @media screen and (max-width: 800px) {

                table.rwd {

                    thead {
                        display: none;
                    }
                    
                    tr {
                        border-top: 3px solid;
                        display: block;
                        margin-top: 2rem;
                    }
                    
                    td {
                        display: block;
                    }
                    
                    td::before {
                        content: attr(data-label) ':';
                        margin-right: .5rem;
                        float: left;
                        font-weight: 900;
                    }
                }


              }

            img {
                display: block;
                margin: 0.5em auto 1.25em auto;
                max-width: 1050px;
            }
        }

        .more {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;

            .updated {
                text-align: left;

                * {
                    padding: 0;
                }
            }

            .author {
                text-align: right;
            }
        }

        .post-logo {
            @media (min-width: 640px) {
                position: absolute;
                left: 2rem;
                top: 2rem;
            }

            img {
                max-height: 100px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .post-container {
        .page {
            .content {
                img {
                    max-width: 100%;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .post-container {
        .page {
            min-width: 100px;
            margin: 0 auto 0 auto;
            padding: 2rem;

            .post-logo {
                position: relative;
                display: block;
                text-align: center;
            }

            header .search-bar-container {
                display: none;
            }

            .title {
                margin-top: 0;
            }
        }

        *:not(header) .search-bar-container {
            display: block;
            text-align: center;
            margin-top: 1.25rem;
        }
    }
}

@media (min-width: 640px) {
    .post-container {
        .page {
            padding: 3rem 2rem 2rem 2rem;
        }
    }

    #comments+.search-bar-container {
        display: none;
    }
}

@media (max-width: 320px) {
    .post-container {
        .page {
            padding: 1rem 1rem 1rem 1rem;
        }
    }
}

.social {
    text-align: center;
    margin-top: 8px;

    button {
        padding: 2rem 2.5rem 2rem 2.5rem !important;
    }
    
    button:last-of-type {
        padding-bottom: 2.5rem !important;
    }
    
    button:focus {
        outline: none;
        box-shadow: none;
    }
    
    svg {
        border-radius: 50%;
    }
}

@media (min-width: 1401px) and (min-height: 600px) {
    .social {
        visibility: hidden;
        opacity: 0;
        transition:
            visibility $element-transition-delay $element-transition-timing-function,
            opacity $element-transition-delay $element-transition-timing-function,
            color $theme-transition-delay $theme-transition-timing-function !important;
        margin: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        right: 16px;
        bottom: 0;
    }
}

.post-footer {
    text-transform: uppercase;
    font-weight: bold !important;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    font-size: 0.725em;

    span {
        overflow-wrap: anywhere;
        width: 20%;
        text-align: center;
    }

    span:first-of-type,
    span:last-of-type {
        width: 40%;
    }

    span:first-of-type {
        text-align: left;
    }

    span:last-of-type {
        text-align: right;
    }
}