.post-container {
    word-break: break-word;

    .content > figure.flex {
        text-align: center !important;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row wrap;

        img {
            margin-left: 1em;
            margin-right: 1em;
        }
    }
    .content > figure {
        margin: 0;
    }
    .content > img {
        white-space: pre;
    }
    .content .inline {
        display: inline !important;
    }
    .content .inline-block {
        display: inline-block !important;
    }
    .content img.uml-bg {
        background: white !important;
    }
    .color-ok {
        color: limegreen !important;
    }
    .table-padding {
        padding: 1rem !important;;
    }
    .white-iframe {
        display: block !important;
        margin: 0 auto 0 auto !important;;
        background: white !important;;
    }
    figcaption i {
        font-size: 0.75em;
    }
    
    .page {
        max-width: 1050px;
        margin: 0 auto 0 auto;

        @media screen and (max-width: 1400px) {
            .tag-cloud {
                display: none;
            }
        }

        .header {
            text-align: center;

            .title {
                margin-bottom: 0.75rem;
            }

            .meta {
                display: inline-block;
                padding: 0;

                .item {
                    display: inline;

                    > span {
                        white-space: nowrap;
                    }
                }

                .item:not(.profile) {
                    line-height: 2em;
                }

                .item:after {
                    content: ' ';
                    letter-spacing: 1.5em;
                    vertical-align: middle;
                    background: radial-gradient(circle 2px at center, currentColor calc(50% - 0.5px), currentColor 0, transparent calc(50% + 0.5px), transparent 0);
                }

                time:nth-of-type(2) {
                    text-decoration: line-through;
                }

                .profile {
                    line-height: 40px;
                    vertical-align: middle;

                    div {
                        position: relative;
                        top: -2px;
                        line-height: 1.2em;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    img {
                        position: relative;
                        top: -2px;
                        vertical-align: middle;
                        height: 36px;
                        border-radius: 50%;
                        margin: 0 5px;
                    }
                }
            }

            .tags {
                margin-bottom: 0.5rem;

                .item:not(:first-child):before {
                    content: ',';
                    padding-right: 0.5em;
                }
            }
        }

        @media (min-width: 1200px) {
            #comments {
                padding-right: 60px;
            }
        }

        .content {
            line-height: 1.55em;
            text-align: justify;
            hyphens: auto;

            > p:first-child {
                margin-top: 0.6275rem;
            }

            code, pre {
                hyphens: none;
                font-size: 0.9rem;
            }

            h1, h2, h3, h4, h5, h6, li, i, em {
                text-align: left;
                hyphens: none;
            }

            p > code {
                border-radius: 4px;
            }

            pre, code, pre *, code * {
                font-family: Consolas, "Liberation Mono", Courier, monospace;
            }

            pre {
                display: flex;
                white-space: pre-wrap;
                word-break: break-word;
                overflow-x: auto;

                code {
                    width: 100%;
                    @media screen and (max-width: 800px) {
                        white-space: pre;
                    }
                }
            }

            code {
                display: inline;
                word-break: break-all;
                padding: 0.10em 0.2em;
            }

            blockquote {
                border-left: .25em solid;
                padding: 0 1em;
                margin-left: 0;
                text-align: initial;
            }

            p+ul {
                margin-top: -0.75em;
            }

            ul {
                margin-top: 0;

                li {
                    line-height: 1.6em;
                }
            }

            ol {
                ul {
                    margin-top: initial;
                }
            }

            table:not(.more) {
                border-collapse: collapse;
                
                li * {vertical-align:top}

                td,
                th {
                    border-width: 1px;
                    border-style: solid;
                    padding:10px;
                }
            }

            @media (min-width: 1200px) {

                table:not(.more) {
                    margin: 0 75px;
                }

                >:not(img):not(table):not(figure) {
                    margin-left: 75px;
                    margin-right: 75px;
                }

                li {
                    margin-left: 25px;
                }

                .more td {
                    padding-left: 75px;
                    padding-right: 75px;
                }
            }

            table.rwd * {
                text-align: left
            }
            @media screen and (max-width: 400px) {
                pre, code {
                    word-break: break-all;
                }
            }

            @media screen and (max-width: 800px) {

                table.rwd {

                    thead {
                        display: none;
                    }
                    
                    tr {
                        border-top: 3px solid;
                        display: block;
                        margin-top: 2rem;
                    }
                    
                    td {
                        display: block;
                    }
                    
                    td::before {
                        content: attr(data-label) ':';
                        margin-right: .5rem;
                        float: left;
                        font-weight: 900;
                    }
                }


              }

            img {
                display: block;
                margin: 0.5em auto 1.25em auto;
                max-width: 1050px;
            }
        }

        .more {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;

            .updated {
                text-align: left;

                * {
                    padding: 0;
                }
            }

            .author {
                text-align: right;
            }
        }

        .post-logo {
            @media (min-width: 640px) {
                position: absolute;
                left: 2rem;
                top: 2rem;
            }

            img {
                max-height: 100px;
            }
        }

        .title {
            @media (min-width: 640px) {
                margin-left: 100px;
                margin-right: 100px;
            }
        }
    }

    .utterances {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    .utterances-frame {
        position: absolute;
        left: 0;
        right: 0;
        width: 1px;
        min-width: 100%;
        max-width: 100%;
        height: 100%;
        border: 0;
    }
}

@media (max-width: 1200px) {
    .post-container {
        .page {
            .content {
                img {
                    max-width: 100%;
                }
            }
        }
    }
}

@media (max-width: 639px) {
    .post-container {
        .page {
            min-width: 100px;
            margin: 0 auto 0 auto;
            padding: 2rem;

            .post-logo {
                position: relative;
                display: block;
                text-align: center;
            }

            header .search-bar-container {
                display: none;
            }

            .title {
                margin-top: 0;
            }
        }

        *:not(header) .search-bar-container {
            display: block;
            text-align: center;
            margin-top: 1.25rem;
        }
    }
}

@media (min-width: 640px) {
    .post-container {
        .page {
            padding: 3rem 2rem 2rem 2rem;
        }
    }

    #comments+.search-bar-container {
        display: none;
    }
}

@media (max-width: 480px) {
    .post-container {
        .page {
            padding: 1rem 1rem 1rem 1rem;
        }
    }
}

.social {
    text-align: center;
    margin-top: 8px;

    button {
        padding: 2rem 2.5rem 2rem 2.5rem !important;
        background-color: transparent;
        border: none;
        font: inherit;
        color: inherit;
        cursor: pointer;
    }
    
    button:focus {
        outline: none;
        box-shadow: none;
    }
    
    svg {
        border-radius: 50%;
    }
}


.post-footer {
    text-transform: uppercase;
    font-weight: bold !important;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    font-size: 0.725em;

    span {
        overflow-wrap: anywhere;
        width: 20%;
        text-align: center;
    }

    span:first-of-type,
    span:last-of-type {
        width: 40%;
    }

    span:first-of-type {
        text-align: left;
    }

    span:last-of-type {
        text-align: right;
    }

}

@media (min-width: 1401px) and (min-height: 600px) {
    .social {
        visibility: hidden;
        opacity: 0;
        transition:
            visibility $element-transition-delay $element-transition-timing-function,
            opacity $element-transition-delay $element-transition-timing-function,
            color $theme-transition-delay $theme-transition-timing-function !important;
        margin: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        right: 16px;
        bottom: 0;

        button:last-of-type {
            padding-bottom: 2.5rem !important;
        }
    }
    .post-footer {
        font-size: 0.9em;
    }
}
