.search-container {
    .page {
        .header-row {
            margin-bottom: 2rem;
            .logo {
                margin: auto
            }
        }

        .search-header {
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-weight: normal;
        }
        .date-col {
            div {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                time {
                    padding-right: 4px;
                    align-self: start;
                    display: block;
                }
                time + * {
                    align-self: end;
                    display: block;
                }
            }
        }
    }
}