.search-container {
    .page {
        .header-row {
            margin-bottom: 2rem;
            .logo {
                margin: auto
            }
        }

        .search-header {
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-weight: normal;
        }
    }
}