.transition-group {
    flex: 1;
    position: relative;
}

.transition-group>div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-exit {
    opacity: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity $routing-transition-delay $routing-transition-timing-function !important;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity $routing-transition-delay $routing-transition-timing-function !important;
}