.langs {
    margin: 2rem 0 0 0;
    text-align: center;

    .lang:not(:first-child):before {
        content: '\00B7';
        padding: 0 0.5em;
    }

    .lang {
        a[data-disabled=true] {
            pointer-events: none;
        }
    }

    > span {
        margin-bottom: 1rem;
        display: inline-block;
    }
}

.theme-switcher {
    padding-top: 0.5rem;

    svg {
        border-radius: 50%;
        cursor: pointer;
    }
}