header {

    @media (max-width: 640px) {
        .header-row {
            flex-direction: column;
        }

        .search-bar-container {
            width: 220px;
            text-align: center;
            left: 50%;
            transform: translate(-50%, 0);

            input {
                width: 170px;
            }
        }
    }

    @media (min-width: 640px) {
        .header-row {
            .title-row {
                padding-left: 2rem;

                .logo-title {
                    padding-top: 2rem;
                }
            }
        }

        .search-bar-container {
            right: 2rem;
        }
    }

    .header-row {
        display: flex;
        align-items: center;

        .title-row {
            .logo-title {
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                h1 {
                    margin-bottom: 0;
                    font-family: $header-font-family;
                }
            }

            .logo-description {
                line-height: 1.33em;
            }
        }
    }

    .logo {
        width: 100%;
        max-width: 216px;
    }

    .search-bar-container {
        position: absolute;
        top: 2rem;
    }
}

.search-bar-container {

    input,
    button {
        height: 28px;
        border-width: 1px;
        vertical-align: top;
        padding-bottom: 1px !important;
    }

    input,
    button,
    input:focus,
    button:focus {
        border: 0px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    ::-webkit-input-placeholder {
        text-indent: 10px !important;
    }

    :-moz-placeholder {
        text-indent: 10px !important;
    }

    ::-moz-placeholder {
        text-indent: 10px !important;
    }

    :-ms-input-placeholder {
        text-indent: 10px !important;
    }

    ::-webkit-search-cancel-button {
        margin: 0 10px 0px 8px !important;
    }

    ::-ms-clear {
        margin: 0 10px 0 8px !important;
    }

    input {
        text-indent: 10px !important;
        padding: 0px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    button {
        padding: 0px 12px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        cursor: pointer;
    }
}

.subtitle {
    font-size: 1.5em;
}