.date-head {
    text-align: left;
    padding-left: 1em;
    font-weight: normal;
    font-family: $title-font-family;
}

.date-col:not(.header) {
    font-family: $title-font-family;
    padding-left: 2em;
}

.date-col+* {
    padding-left: 1em;
}
.date-col+*+* {
    padding-left: 1em;
}

@media (max-width: 480px) {
    .date-head {
        padding-left: 0;
    }

    .date-col {
        padding-left: 1em;
    }

    .date-col+* {
        padding-left: 0.5em;
        word-break: break-word;
    }
}